 *{background-color: rgb(255, 255, 255); 
        padding:0;
        margin: 0;}
    header{
        background-color: rgb(118, 94, 64);}
    .awal{display:flex; 
        font-size: 38px;
    font-family: 'Franklin Gothic Medium';
    color: rgb(241, 246, 246);
    background-color: rgb(118, 94, 64);
    padding-top: 32px;
    padding-left: 10px;
    padding-bottom: 5px;}

    #intro{font-size: 18px;
    text-align: justify;
font-family: 'Times New Roman';
}